<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
        <h3>OUR LIGHTING COLLECTION GALLERY</h3>
        <span class="breadcrumb">
          <a [routerLink]="['/']">Home</a> /
          <b class="text-danger">Gallery</b>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">

  <!-- Brand filter -->
  <ul class="brand-filter">
    <li>
      <a href="javascript:void(0)"
         [class.active]="selectedBrand === 'all'"
         (click)="filterProducts('all')">
        All Brands
      </a>
    </li>
    <li *ngFor="let brand of brands">
      <a href="javascript:void(0)"
         [class.active]="selectedBrand === brand.id"
         (click)="filterProducts(brand.id)">
        {{ brand.name }}
      </a>
    </li>
  </ul>

  <!-- Gallery grid -->
  <div class="row mt-4">
    <div class="col-md-3 mb-4" *ngFor="let item of pagedItems; let i = index">
      <div class="image-wrapper" (click)="openLightbox(i)">
        <img
          [src]="item.images && item.images[0] ? item.images[0] : 'assets/images/default-light.jpg'"
          [alt]="item.name"
          class="img-fluid">
      </div>
      <div class="mt-2 text-center">
        <h6 class="mb-0">{{ item.name }}</h6>
        <small class="text-muted">{{ getBrandName(item.brandId) }}</small>
      </div>
    </div>
  </div>

  <!-- Pagination -->
  <div class="row" *ngIf="totalPages > 1">
    <div class="col-lg-12 d-flex justify-content-center">
      <ul class="pagination">
        <li *ngIf="currentPage > 1">
          <a href="javascript:void(0)" (click)="changePage(currentPage - 1)">«</a>
        </li>

        <li *ngFor="let page of getPageNumbers()">
          <a href="javascript:void(0)"
             [class.active]="currentPage === page"
             (click)="changePage(page)">
            {{ page }}
          </a>
        </li>

        <li *ngIf="currentPage < totalPages">
          <a href="javascript:void(0)" (click)="changePage(currentPage + 1)">»</a>
        </li>
      </ul>
    </div>
  </div>
</div>
