<div class="page-heading header-text">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 mt-5">
        <h3>Our Carrio Car </h3>
        <span class="breadcrumb"><a [routerLink]="['/']">Home</a> / Products</span>
      </div>
    </div>
  </div>
</div>

<div class="loading-container" *ngIf="loading">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <p>Loading amazing Carrio...</p>
</div>

<div class="alert alert-danger" *ngIf="error">
  {{ error }}
</div>

<div *ngIf="!loading && !error" class="section properties">
  <div class="container">
    <!-- Category filter -->
<ul class="properties-filter categories" *ngIf="activeFilter === 'category'">
  <li>
    <a href="#"
       (click)="onCategoryClick($event, '')"
       [class.is_active]="!selectedCategory"
       data-filter="*">
      All Collections
    </a>
  </li>
  <li *ngFor="let category of categories">
    <a href="#"
       (click)="onCategoryClick($event, category.id)"
       [class.is_active]="selectedCategory === category.id"
       [attr.data-filter]="'.' + category.id">
      {{ category.name }}
    </a>
  </li>
</ul>

<!-- Brand filter: chỉ hiện khi activeFilter === 'brand' -->
<ul class="properties-filter brands mt-2" *ngIf="activeFilter === 'brand'">
  <li>
    <a href="#"
       (click)="onBrandClick($event, '')"
       [class.is_active]="!selectedBrand">
      All Brands
    </a>
  </li>
  <li *ngFor="let b of brands">
    <a href="#"
       (click)="onBrandClick($event, b.id)"
       [class.is_active]="selectedBrand === b.id">
      {{ b.name }}
    </a>
  </li>
</ul>
   

    <div class="row properties-box">
      <div *ngFor="let car of filteredcars"
           class="col-lg-4 col-md-6 align-self-center mb-30 properties-items {{ car.categoryId }}">
        <div class="item">
          <a href="javascript:void(0)" (click)="openCarDetails(car)">
            <img style="width: 295px; height: 295px; object-fit: contain;"
                 [src]="car.images && car.images.length > 0 ? car.images[0] : 'assets/images/default-car.jpg'"
                 [alt]="car.name">
          </a>

          <!-- <span class="category">{{ getBrandName((car as any).brandId) }}</span> -->

       <h6>
          <!-- Nếu có discount -->
          <ng-container *ngIf="car.discount; else normalPrice">
            <span class="discount">
              {{ car.price | currency:'USD':'symbol':'1.0-0' }}
            </span>
            <span class="final-price">
              {{ (car.price * (1 - car.discount / 100)) | currency:'USD':'symbol':'1.0-0' }}
            </span>
          </ng-container>

          
          <ng-template #normalPrice>
            {{ car.price | currency:'USD':'symbol':'1.0-0' }}
          </ng-template>
        </h6>



          <h4>
            <a href="javascript:void(0)" (click)="openCarDetails(car)">{{ car.name }}</a>
          </h4>

          <ul>
            <li *ngIf="car.specifications?.engine">Engine: <span>{{ car.specifications.engine }}</span></li>
            <li *ngIf="car.specifications?.power">Power: <span>{{ car.specifications.power }}</span></li>
            <li *ngIf="car.specifications?.drivetrain">Drivetrain: <span>{{ car.specifications.drivetrain }}</span></li>
            <li *ngIf="car.specifications?.transmission">Transmission: <span>{{ car.specifications.transmission }}</span></li>
            <li *ngIf="car.specifications?.topSpeed">Top Speed: <span>{{ car.specifications.topSpeed }}</span></li>
            <li *ngIf="car.specifications?.zeroToHundred">0–100: <span>{{ car.specifications.zeroToHundred }}</span></li>
            <li>Warranty: <span>{{ car.warranty }}</span></li>
            <li>Availability:
              <span [class.text-success]="car.inStock" [class.text-danger]="!car.inStock">
                {{ car.inStock ? 'In Stock' : 'Out of Stock' }}
              </span>
            </li>
          </ul>

          <div class="main-button">
            <a href="javascript:void(0)" (click)="openCarDetails(car)">View Details</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Pagination -->
    <div class="row" *ngIf="(cars?.length || 0) > itemsPerPage">
      <div class="col-lg-12">
        <ul class="pagination">
          <li *ngFor="let page of getPageNumbers()">
            <a [class.is_active]="currentPage === page"
               href="javascript:void(0)"
               (click)="changePage(page)">{{ page }}</a>
          </li>
          <li *ngIf="currentPage < totalPages">
            <a href="javascript:void(0)" (click)="changePage(currentPage + 1)">&gt;&gt;</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-product-detail-modal
  [car]="selectedCar"
  [category]="selectedCarCategory"
  [relatedCars]="relatedCars"
  [loading]="modalLoading"
  (closeModal)="onCloseModal()"
  (viewRelatedCar)="onViewRelatedCar($event)">
</app-product-detail-modal>
